<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/bande.png);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Our Clinic's Story</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    About Us
                </li>
            </div>
        </div>
    </div>
</div>

<div class="pt-100">
    <app-about-part></app-about-part>
</div>

<div class="funfacts-area pt-100 pb-75 bg-color" >
    <div class="container" >
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="fun-fact">
                    <h3>120</h3>
                    <p>Health Sections</p>
                    <div class="shape">
                        <img src="assets/images/img1.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="fun-fact">
                    <h3> {{ doctors.length }}</h3>
                    <p>Professionals Doctor</p>
                    <div class="shape">
                        <img src="assets/images/img2.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="fun-fact">
                    <h3>{{ patients.length }}</h3>
                    <p>Satisfied Patients</p>
                    <div class="shape">
                        <img src="assets/images/img3.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="fun-fact">
                    <h3>100+</h3>
                    <p>Health Plans</p>
                    <div class="shape">
                        <img src="assets/images/img4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="pt-100">
    <app-denticts-part></app-denticts-part>
</div> -->

<!-- <div class="pt-100">
    <app-testimonial-part></app-testimonial-part>
</div> -->


<!-- <app-call-us></app-call-us> -->


