<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title3.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Testimonials</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Testimonials
                </li>
            </div>
        </div>
    </div>
</div>

<div class="review-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        "I had an excellent experience at SparkleSmile Clinic. The staff was friendly, and Dr. Noura Skalli's expertise
                        made my dental procedure comfortable. I'm truly satisfied with the quality of care I received."
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-1.jpg" alt="Dr. Hae Taylor">
                        <h3>Hanane Krimou</h3>
                        <span>1st grade teacher</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        "Dr. Hassan Bennani and the team at SparkleSmile Clinic provided me with excellent dental care.
                        The personalized attention to my needs and the professionalism of the entire staff exceeded my expectations."
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-2.jpg" alt="Dr. Aiken Ward">
                        <h3>Karima Laouni</h3>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        "I highly recommend SparkleSmile Clinic for dental care. Dr. Hassan Benanni's expertise and the
                        caring approach of the entire team made my experience positive and stress-free."
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-4.jpg" alt="Dr. Eachann Jhon">
                        <h3>Hamid Lhimer</h3>
                        <span>Butcher</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        "The team at SparkleSmile Clinic provide exceptional general dentistry services.
                        The attention to detail and the comfortable atmosphere made my dental visit a positive one."
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-6.jpg" alt="Dr. Smith Jorge">
                        <h3>Oumnia Laaziza</h3>
                        <span>Secretary</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        "I'm grateful for the excellent orthodontic care provided by the team at SparkleSmile Clinic. The results exceeded
                        my expectations, and the entire team made the journey enjoyable."
                    </p>
                    <div class="review-info">
                        <img src="assets/images/review-3.jpg" alt="Dr. Aston Alison">
                        <h3>Omar Khalid</h3>
                        <span>Nurse</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-review-item">
                    <div class="icon">
                        <i class="fa-solid fa-quote-left"></i>
                    </div>
                    <p>
                        "The periodontics team at SparkleSmile Clinic provided me with excellent care.
                        The professionalism and friendliness of the staff made my experience truly positive."
                    </p>
                    <div class=" review-info">
                        <img src="assets/images/doctor-8.jpg" alt="Dr. Moris Johonson">
                        <h3>Adnane Amekrane</h3>
                        <span>Singer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
