<div class="navbar-area">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
           <a class="navbar-brand" routerLink="/home">
            <h1>SparkleSmile Clinic</h1>
           </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                  
                    <a class="nav-link active" routerLink="/home">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Doctors
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/doctors">Book appointment</a></li>
                      <li><a class="dropdown-item" routerLink="/doctor-details">Doctor Details</a></li>
                      <li><a class="dropdown-item" routerLink="/doctor_manage">Add Doctor</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Patients
                    </a>
                    <ul class="dropdown-menu">
                      <!-- <li><a class="dropdown-item" routerLink="/patients">Patients</a></li>-->
                      <li><a class="dropdown-item" routerLink="/patient-details">Patients Details</a></li> 
                      <li><a class="dropdown-item" routerLink="/addpatient">Add Patients</a></li>
                    </ul>
                  </li>

                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Booking
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/booking">Appointment</a></li>
                      <li hidden><a class="dropdown-item" routerLink="/notfound">404 Page</a></li>
                    </ul>
                  </li> -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      About us
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/about">About Us</a>
                      </li>
                      <li><a class="dropdown-item" routerLink="/testimonials">Testimonials</a></li>
                      <!-- <li><a class="dropdown-item" routerLink="/privacy">Privacy Policy</a></li> -->
                      <!-- <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                      <li><a class="dropdown-item" routerLink="/register">Register</a></li> -->
                      <li hidden><a class="dropdown-item" routerLink="/notfound">404 Page</a></li>
                    </ul>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Blog
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/blog">Blog</a></li>
                      <li><a class="dropdown-item" routerLink="/blog-details">Blog Details</a></li>
                    </ul>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                  </li>
                </ul>
                
                <div class="others-option d-flex align-items-center">

                  <span class="sub-title">
                    <i class='bx bx-hash'></i>
                    Your smile Our Priority!
                   </span>
                  
                </div>
              </div>
          </nav>
    </div>
</div>