<div class="page-banner-area ptb-100 four" style="background-image: url(assets/images/page-title4.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <h2>Doctors Details</h2>
            <div class="pages-list">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    Doctors/Doctor Details
                </li>
            </div>
        </div>
    </div>
</div>

<div class="dentist-details-area ptb-100" *ngIf="doctors">
    <div class="container" *ngFor="let d of doctors">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="dentist-details-image">
                    <h4 style="color: #06a3da;"> <b>{{ d.name }}</b></h4>

                    <img src="assets/images/doctor-2.jpg">
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="dentist-details-content">

                    <div class="content-overview">
                        <p>
                            <span style="color: #06a3da;"> <b> Appointments: </b></span>
                        </p>
                        <p *ngFor="let appointment of getDoctorAppointments(d.appointments)">
                            <a ><i style="color: #06a3da;" class='fa-solid fa-calendar-days'></i></a>

                            <a ><i style="color: #06a3da;" class='fa-sharp fa-solid fa-timer'></i></a>
                             <b> Date and time:</b> {{ appointment.appointment_date | date:'short' }} <br>
                            <a ><i style="color: #06a3da;" class='fa-solid fa-person-dots-from-line'></i></a>
                            <b> Reason:</b> {{ appointment.reason_for_visit }}
                        </p>

                </div>
                <span class="sub-title" style="cursor: pointer; color: #06a3da;">
                    <a routerLink="/home"><i style="color: #06a3da;" class='fa-solid fa-user-doctor'></i></a>
                    {{ d.specialization }}
                </span>
                <span class="sub-title" style="cursor: pointer; color: #06a3da;">
                    <a routerLink="/home"><i style="color: #06a3da;" class='bx bx-phone-call'></i></a>
                    {{ d.contactInformation }}
                </span>
                <span class="sub-title" style="cursor: pointer; color: red;">
                    Delete
                    <i (click)="deleteDoctors(d.doctorId)" class='fa-solid fa-trash' style="cursor: pointer; color: red;"></i>
                </span>
            
            </div>
        </div>
        <div class="dentist-details-overview-content">
            <hr style="color: blue;">
        </div>
    </div>
</div>

